@model NewProductVm

@{
    ViewData["Title"] = "Create a New Product";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Create a new Product</h4>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ImageURL" class="control-label"></label>
                                <input asp-for="ImageURL" class="form-control" />
                                <span asp-validation-for="ImageURL" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProductCategory" class="control-label"></label>
                                <section asp-for="ProductCategory" class="form-control"></section>
                                <span asp-validation-for="ProductCategory" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label asp-for="SupplierId" class="control-label"></label>
                                <section asp-for="SupplierId" class="form-control"></section>
                                <span asp-validation-for="SupplierId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="WarrantyId" class="control-label"></label>
                                <section asp-for="WarrantyId" class="form-control"></section>
                                <span asp-validation-for="WarrantyId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ShippingIds" class="control-label"></label>
                                <section asp-for="ShippingIds" class="form-control" multiple></section>
                                <span asp-validation-for="ShippingIds" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 offset-4 text-center">
                        <img id="ImageURLPreview" style="width: 200px"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section ScriptsPartial{ 
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ImageURLPreview');
            output.src = $("#ImageURL").val();
        })

        $("#ImageURL").on("change", function () {
            var output = document.getElementById('ImageURLPreview');
            output.src = $(this).val();
        })
    </script>

}